<div class="container-fluid justify-content-center align-items-center col-md-10" id="profileContainer">
    <!-- Profile Form -->
    <form (ngSubmit)="onSubmit()" #ProfileExpForm="ngForm">
        <!-- <form #ProfileForm="ngForm"> -->
        <!-- Profile -->
        <div class="form-group row mb-1">
            <div class="col-auto">
                <br>
                <label class="col-form-label pb-0" id="User">{{ user.firstName }} {{user.lastName}}</label>
                <label class="col-form-label" id="lblafterhigh">"After high school, I want to be a {{ afterSchool }}"</label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-auto" style="margin-right: 10rem">
                <div class="form-group row mb-0">
                    <div class="col-auto">
                        <label for="classof" class="col-form-label pb-0" id="lblclassof">Class of
                            {{ profile.classOf }}</label>
                        <!-- <input type="text" [(ngModel)]="profile.classOf" class="form-control" id="classof"
                            name="classof" placeholder="Class of"> -->
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <div class="col-auto">
                        <label for="highsch" class="col-form-label pb-0"
                            id="lblhighsch">{{ profile.highSchoolName }}</label>
                        <!-- <input type="text" [(ngModel)]="profile.highSchoolName" class="form-control" id="highsch"
                            name="highsch" placeholder="High School Name"> -->
                    </div>
                </div>
                <!-- <div class="form-group row mb-0">
                    <div class="col-auto">
                        <label for="afthighsch" class="col-form-label pb-0" id="lblafthighsch">After high school, I
                            want
                            to be a..</label>
                        <input type="text" [(ngModel)]="profile.iWantToBe" class="form-control" id="afthighsch"
                            name="afthighsch" placeholder="After High School..">
                    </div>
                </div> -->
                <div class="form-group row mb-3">
                    <div class="col-12">
                        <label for="moreAbtMe" class="col-form-label pb-0" id="lblmoreAbtMe">More about me</label>
                        <textarea [(ngModel)]="profile.moreAboutMe" class="form-control" id="moreAbtMe"
                            name="More About Me.." placeholder="more about me" rows="2"
                            style="min-width: 38rem;"></textarea>
                    </div>
                    <div class="col-12 align-self-end mt-2">
                        <!-- <br> -->
                        <button class="btn btn-outline-secondary float-right" type="submit">Submit</button>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-5">
                <label for="moreAbtMe" class="col-form-label pb-0" id="lblmoreAbtMe">More about me</label>
                <textarea [(ngModel)]="profile.moreAboutMe" class="form-control" id="moreAbtMe" name="More About Me.."
                    placeholder="moreAbtMe"></textarea>
            </div> -->
        </div>
    </form>
</div>

<div id="hr">
</div>

<!-- Opportunities recommended for you -->
<div class="container-fluid justify-content-center align-items-center col-md-10" id="oppurContainer">
    <div class="row nomargin ml-3 oppurforyou">
        <label class="col-form-label">Opportunities recommended for you</label>
    </div>
    <div class="row nomargin ml-n4" id="oppurCarousel">
        <div class="container-fluid justify-content-center align-items-center col-md-11" id="oppurContainer">
            <mdb-carousel [animation]="'slide'" [interval]="'0'" [isControls]="true" class="carousel-multi-item multi-animation">
                <mdb-carousel-item *ngFor="let item of slides; let i = index">
                    <div class="col-md-6 mr-0" *ngFor="let card of item; let cardIndex = index">
                        <mdb-card class="my-1">
                            <div class="row" style="padding: 0.5rem; margin-bottom: 0.2rem;">
                                <div class="col-md-2 p-0 ml-4 mt-3 mb-3 mr-0">
                                    <mdb-card-img [src]="card.img" alt="Card image cap"></mdb-card-img>
                                </div>
                                <mdb-card-body style="padding: 0%; margin: 0%;">
                                    <div class="container">
                                        <div class="row nomargin mt-2 mb-1 cardtitle">
                                            <mdb-card-title>
                                                <label class="col-form-label">{{card.title}}</label>
                                            </mdb-card-title>
                                        </div>
                                        <div class="row nomargin mt-n4">
                                            <label class="col-form-label carddesc">{{card.description}}</label>
                                        </div>
                                        <div class="row nomargin mt-n1">
                                            <label class="col-form-label cardloc">{{card.loc}}</label>
                                        </div>
                                    </div>
                                </mdb-card-body>
                            </div>
                        </mdb-card>
                    </div>
                </mdb-carousel-item>
            </mdb-carousel>
        </div>
    </div>
    <div class="row nomargin mb-2">
        <label class="col-form-label"></label>
    </div>
</div>

<div id="hr">
</div>

<!-- Line Divider Form -->
<div id="hr">
</div>

<div class="form-group row ml-3 mt-n3 mb-0">
    <div class="col-auto" id="New_experience">
        <button class="btn btn-outline-warn" type="button" id="Save_experience1" (click)="showhideNewExp()"><i
                class="fa fa-plus" id="plusIcon"></i> Add new experience</button>
    </div>
</div>
<!-- <div id="hr">
</div> -->

<!-- New experiences -->
<div class="container-fluid justify-content-center align-items-center col-md-10" id="NewExpContainer">
    <form (ngSubmit)="onSubmit()" #ProfileExpForm="ngForm">
        <!-- New Experience Form -->
        <div *ngIf="showNewExp">
            <div class="mt-0 mb-6">
                <div class="form-group row mb-2">
                    <div class="col-md-12">
                        <label for="experienceName" class="col-form-label pb-0" id="lblexperienceName">Organization
                            Name</label>
                        <input type="text" [(ngModel)]="experienceDefault.experienceName" class="form-control"
                            id="experienceName" name="experienceName" placeholder="Experience">
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <div class="col-md-12">
                        <label for="roleName" class="col-form-label pb-0" id="lblroleName">What was your title/role</label>
                        <input type="text" [(ngModel)]="experienceDefault.roleName" class="form-control" id="roleName"
                            name="roleName" placeholder="Role">
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <div class="col-md-3">
                        <label for="startMonth" class="col-form-label pb-0" id="lblstartMonth">Start Date</label>
                        <select class="form-control" style="padding: 0; margin: 0;" data-style="btn-primary"
                            data-live-search="true" data-selectpicker [(ngModel)]="experienceDefault.startMonth"
                            name="startMonth">
                            <option *ngFor="let month of monthList" [ngValue]="month.value">
                                {{ month.text }}</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="startYear" class="col-form-label pb-0" id="lblstartYear"></label>
                        <select class="form-control" style="padding: 0; margin: 0;" data-style="btn-primary"
                            data-live-search="true" data-selectpicker [(ngModel)]="experienceDefault.startYear"
                            name="startYear">
                            <option *ngFor="let year of yearList" [ngValue]="year.value">
                                {{ year.name }}</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="endMonth" class="col-form-label pb-0" id="lblendMonth">End Date</label>
                        <select class="form-control" style="padding: 0; margin: 0;" data-style="btn-primary"
                            data-live-search="true" data-selectpicker [(ngModel)]="experienceDefault.endMonth"
                            name="endMonth">
                            <option *ngFor="let month of monthList" [ngValue]="month.value">
                                {{ month.text }}</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="endYear" class="col-form-label pb-0" id="lblendYear"></label>
                        <select class="form-control" style="padding: 0; margin: 0;" data-style="btn-primary"
                            data-live-search="true" data-selectpicker [(ngModel)]="experienceDefault.endYear"
                            name="endYear">
                            <option *ngFor="let year of yearList" [ngValue]="year.value">
                                {{ year.name }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <div class="col-md-6">
                        <label for="activityType" class="col-form-label pb-0" id="lblactivity">Type of Activity</label>
                        <select class="form-control" style="padding: 0; margin: 0;" data-style="btn-primary"
                            data-live-search="true" data-selectpicker [(ngModel)]="experienceDefault.activityType"
                            name="activityType">
                            <option *ngFor="let year of yearList" [ngValue]="year.value">
                                {{ year.name }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <div class="col-md-6">
                        <label for="hoursspent" class="col-form-label pb-0" id="lblhoursspent">How many hours did you
                            spend on this?</label>
                        <input type="text" [(ngModel)]="experienceDefault.hoursspent" class="form-control"
                            id="hoursspent" name="hoursspent" placeholder="Hours Spent">
                    </div>
                </div>
                <div class="form-group row mb-0">
                    <div class="col-md-12">
                        <label for="responsibility1" class="col-form-label pb-0" id="lblresponsibility1">Responsibility
                            1</label>
                        <textarea [(ngModel)]="experienceDefault.responsibility1" class="form-control" id="anythingElse"
                            name="responsibility1" placeholder="Anything Else.."></textarea>
                    </div>
                </div>
                <div class="form-group row mb-0">
                    <div class="col-md-12">
                        <label for="responsibility2" class="col-form-label pb-0" id="lblresponsibility2">Responsibility
                            2</label>
                        <textarea [(ngModel)]="experienceDefault.responsibility2" class="form-control" id="anythingElse"
                            name="responsibility2" placeholder="Anything Else.."></textarea>
                    </div>
                </div>
                <div class="form-group row mb-0">
                    <div class="col-md-12">
                        <label for="responsibility3" class="col-form-label pb-0" id="lblresponsibility3">Responsibility
                            3</label>
                        <textarea [(ngModel)]="experienceDefault.responsibility3" class="form-control" id="anythingElse"
                            name="responsibility3" placeholder="Anything Else.."></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <button class="btn btn-outline-secondary float-right" type="submit" id="Save_experience">Save
                        Experience</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- <div id="hr">
</div> -->

<!-- Saved experiences -->
<div class="container-fluid justify-content-center align-items-center col-md-10" id="SvdExpContainer">
    <form name="savedexpform" method="post">
        <div *ngIf="profile.experienceArr && profile.experienceArr.length > 0">
            <div class="form-group row mb-3">
                <div class="col-auto mt-2" id="saved_exp">
                    <label class="col-form-label">Experience</label>
                </div>
            </div>

            <div class="col-md-12 ml-4 mb-3" *ngFor="let experience of profile.experienceArr; let i = index">

                <ng-container [ngTemplateOutlet]="experience.isEditMode == true ? editMode : simpleMode"
                    [ngTemplateOutletContext]="{experience:experience}">
                </ng-container>

                <!-- view experiences -->
                <ng-template #simpleMode let-experience='experience'>
                    <div class="form-group row m-0 p-0">
                        <!-- <div class="form-group row mb-0"> -->
                            <div class="col-md-8  m-0 p-0">
                                <label class="col-form-label" id="svdrole">{{ experience.roleName }}</label>
                            </div>
                            <div class="col-md-3 m-0 p-0">
                                    <label class="col-form-label float-right" id="svdPoints">+ 4 pts</label>
                            </div>
                            <div class="col-md-1">
                                    <div class="row m-0 p-0 justify-content-center">
                                    <button id="btneditsvd" (click)="editExperience(experience)"><i class="far fa-edit 10f044"
                                        id="editIcon"></i></button>
                                    </div>
                            </div>
                        <!-- </div> -->
                    </div>
                    <div class="form-group row mb-0">
                        <div class="col-auto">
                            <label class="col-form-label" id="lblsvddate">Date:</label>
                            <label class="col-form-label"
                                id="svddate">{{ experience.startMonth }}/{{ experience.startYear }} -
                                {{ experience.endMonth }}/{{ experience.endYear }}</label>
                        </div>
                    </div>
                    <div class="form-group row mb-0">
                        <div class="col-auto">
                            <label class="col-form-label" id="lblsvdOrgName">Organization Name:</label>
                            <label class="col-form-label" id="svdOrgName">{{ experience.experienceName }}</label>
                        </div>
                    </div>
                    <div class="form-group row mb-0">
                        <div class="col-auto">
                            <label class="col-form-label" id="lblsvdact">Activity Name:</label>
                            <label class="col-form-label" id="svdact">{{ experience.activityType }}</label>
                        </div>
                    </div>
                    <div class="form-group row mb-0">
                        <div class="col-auto">
                            <label class="col-form-label" id="lblsvdhrs">Hours Spent:</label>
                            <label class="col-form-label" id="svdhrs">{{ experience.hoursspent }}</label>
                        </div>
                    </div>
                    <div class="form-group row mb-0">
                        <div class="col-md-12">
                            <label class="col-form-label" id="lblsvdRes">Responsibilities:</label>
                            <br>
                            <label class="col-form-label ml-4" id="svdRes"> 1. {{ experience.responsibility1 }}</label>
                            <!-- <br>
                                <br> -->
                            <label class="col-form-label ml-4" id="svdRes"> 2. {{ experience.responsibility2 }}</label>
                            <!-- <br>
                                <br> -->
                            <label class="col-form-label ml-4" id="svdRes"> 3. {{ experience.responsibility3 }}</label>
                        </div>
                    </div>
                </ng-template>

                <!-- eidt experiences -->
                <ng-template #editMode let-experience='experience'>
                    <div class="form-group row mb-0">
                        <div class="col-md-12 mt-0 mb-6">
                            <div class="form-group row mb-2">
                                <div class="col-md-12">
                                    <label for="experienceName{{i}}" class="col-form-label pb-0"
                                        id="lblexperienceName">Organization
                                        Name</label>
                                    <input type="text" [(ngModel)]="experience.experienceName" class="form-control"
                                        id="experienceName" name="experienceName{{i}}" placeholder="Experience">
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <div class="col-md-12">
                                    <label for="roleName{{i}}" class="col-form-label pb-0" id="lblroleName">What was
                                        your
                                        tilte/role?*</label>
                                    <input type="text" [(ngModel)]="experience.roleName" class="form-control"
                                        id="roleName" name="roleName{{i}}" placeholder="Role">
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <div class="col-md-3">
                                    <label for="startMonth{{i}}" class="col-form-label pb-0" id="lblstartMonth">Start
                                        Date</label>
                                    <select class="form-control" style="padding: 0; margin: 0;" data-style="btn-primary"
                                        data-live-search="true" data-selectpicker [(ngModel)]="experience.startMonth"
                                        name="startMonth{{i}}">
                                        <option *ngFor="let month of monthList" [ngValue]="month.value">
                                            {{ month.text }}</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label for="startYear{{i}}" class="col-form-label pb-0" id="lblstartYear"></label>
                                    <select class="form-control" style="padding: 0; margin: 0;" data-style="btn-primary"
                                        data-live-search="true" data-selectpicker [(ngModel)]="experience.startYear"
                                        name="startYear{{i}}">
                                        <option *ngFor="let year of yearList" [ngValue]="year.value">
                                            {{ year.name }}</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label for="endMonth{{i}}" class="col-form-label pb-0" id="lblendMonth">End
                                        Date</label>
                                    <select class="form-control" style="padding: 0; margin: 0;" data-style="btn-primary"
                                        data-live-search="true" data-selectpicker [(ngModel)]="experience.endMonth"
                                        name="endMonth{{i}}">
                                        <option *ngFor="let month of monthList" [ngValue]="month.value">
                                            {{ month.text }}</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label for="endYear{{i}}" class="col-form-label pb-0" id="lblendYear"></label>
                                    <select class="form-control" style="padding: 0; margin: 0;" data-style="btn-primary"
                                        data-live-search="true" data-selectpicker [(ngModel)]="experience.endYear"
                                        name="endYear{{i}}">
                                        <option *ngFor="let year of yearList" [ngValue]="year.value">
                                            {{ year.name }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <div class="col-md-6">
                                    <label for="activity{{i}}" class="col-form-label pb-0" id="lblactivity">Type of
                                        Activity</label>
                                    <select class="form-control" style="padding: 0; margin: 0;" data-style="btn-primary"
                                        data-live-search="true" data-selectpicker [(ngModel)]="experience.activityType"
                                        name="activity{{i}}">
                                        <option *ngFor="let year of yearList" [ngValue]="year.value">
                                            {{ year.name }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <div class="col-md-6">
                                    <label for="hoursspent{{i}}" class="col-form-label pb-0" id="lblhoursspent">How many
                                        hours did you
                                        spend on this?</label>
                                    <input type="text" [(ngModel)]="experience.hoursspent" class="form-control"
                                        id="hoursspent" name="hoursspent{{i}}" placeholder="Hours Spent">
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <div class="col-md-12">
                                    <label for="responsibility1{{i}}" class="col-form-label pb-0"
                                        id="lblresponsibility1">Responsibility
                                        1</label>
                                    <textarea [(ngModel)]="experience.responsibility1" class="form-control"
                                        id="anythingElse" name="responsibility1{{i}}"
                                        placeholder="Anything Else.."></textarea>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <div class="col-md-12">
                                    <label for="responsibility2{{i}}" class="col-form-label pb-0"
                                        id="lblresponsibility2">Responsibility
                                        2</label>
                                    <textarea [(ngModel)]="experience.responsibility2" class="form-control"
                                        id="anythingElse" name="responsibility2{{i}}"
                                        placeholder="Anything Else.."></textarea>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <div class="col-md-12">
                                    <label for="responsibility3{{i}}" class="col-form-label pb-0"
                                        id="lblresponsibility3">Responsibility
                                        3</label>
                                    <textarea [(ngModel)]="experience.responsibility3" class="form-control"
                                        id="anythingElse" name="responsibility3{{i}}"
                                        placeholder="Anything Else.."></textarea>
                                </div>
                            </div>
                            <div class="form-group row mb-1">
                                <div class="col-md-12">
                                    <button class="btn btn-outline-secondary float-right" type="button"
                                        id="Save_experience" name="saveExperience{{i}}"
                                        (click)="saveExperience(experience)">Save
                                        Experience</button>
                                    <button class="btn btn-outline-secondary float-right mr-2" type="button"
                                        id="Save_experience" name="cancelExperience{{i}}"
                                        (click)="cancelExperienceEdit(experience)">Cancel</button>

                                </div>
                            </div>
                        </div>

                    </div>
                </ng-template>
            </div>
        </div>
    </form>
</div>