<div class="container-fluid" id="wrapper">
  <div class="row loginbg">
    <!-- <div class="card col-md-4 col-md-offset-4"  style="background-color:rgb(44, 52, 94);"> -->
    <div class="card col-md-5 col-md-offset-4">
      <div class="">
        <div class="card-block">

          <form name="userform" method="post" #loginForm="ngForm" [mustMatch]="['password', 'confirmpassword']" novalidate>
            <div class="col-md-12">
              <div class="d-flex flex-row justify-content-center" id="Welcome_to_Kempes__Log_in_to_k">
                <span>Welcome to Kempes </span>
              </div>
              <div class="d-flex flex-row justify-content-center" id="Welcome_to_Kempes__Log_in_to_k1">
                <span>{{ siguplogin.funText }}</span>
              </div>
            </div>

            <div class="form-group mt-4">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="email" placeholder="Email"
                [(ngModel)]="emailPasswordCredentials.email" maxlength="45" required [pattern]="emailPattern"
                #emailValidator="ngModel">
              <div *ngIf="emailValidator.invalid && (emailValidator.dirty || emailValidator.touched)"
                class="alert1 alert-danger1">
                <div *ngIf="emailValidator.errors.required">
                  <i class="fas fa-exclamation-circle"></i>
                  Please enter an email.
                </div>
                <div *ngIf="emailValidator.errors.pattern">
                  <i class="fas fa-exclamation-circle"></i>
                  Please enter a valid email.
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" name="password" placeholder="Password"
                [(ngModel)]="emailPasswordCredentials.password" required minlength="6" maxlength="20"
                #passwordValidator="ngModel">
              <div *ngIf="passwordValidator.invalid && (passwordValidator.dirty || passwordValidator.touched)"
                class="alert1 alert-danger1">
                <!-- <div *ngIf="passwordValidator.invalid" class="alert1 alert-danger1"> -->

                <div *ngIf="passwordValidator.errors.required">
                  <i class="fas fa-exclamation-circle"></i>
                  Password is required.
                </div>
                <div *ngIf="passwordValidator.errors.minlength">
                  <i class="fas fa-exclamation-circle"></i>
                  Please use 6 or more characters.
                </div>
              </div>
            </div>

            <ng-container *ngIf="siguplogin.showConfirmPassword">

              <div class="form-group">
                <label for="exampleConfirmPassword1">Confirm Password</label>
                <input type="password" class="form-control" name="confirmpassword" placeholder=" Confirm Password"
                  [(ngModel)]="emailPasswordCredentials.confirmPassword" required minlength="6" maxlength="20"
                  #confirmpasswordValidator="ngModel">
                  <div *ngIf="confirmpasswordValidator.invalid && (confirmpasswordValidator.dirty || confirmpasswordValidator.touched)"
                class="alert1 alert-danger1">
                <div *ngIf="confirmpasswordValidator.errors.required">
                  <i class="fas fa-exclamation-circle"></i>
                  Password is required.
                </div>
                <div *ngIf="confirmpasswordValidator.errors.minlength">
                  <i class="fas fa-exclamation-circle"></i>
                  Please use 6 or more characters.
                </div>
                <div *ngIf="confirmpasswordValidator.errors.mustMatch">
                  <i class="fas fa-exclamation-circle"></i>
                  Your passwords don't match.
                </div>
              </div>
              </div>
            </ng-container>

            <div class="form-group" align="center">
              <button type="buton" class="btn btn-primary btnemail" [disabled]="!loginForm.form.valid"
                (click)="signInWithEmail()">
                {{ siguplogin.loginText }}
              </button>
            </div>

            <div class="form-group" align="center">

              <button type="button" class="btn btn-primary btntwitter" (click)="signInWithTwitter()">
                <i class="fab fa-twitter"></i> {{ siguplogin.twitterText }}
              </button>

              <!--  <button type="buton" class="btn btn-block" (click)="signInWithFacebook()">
                          <i class="fa fa-facebook" aria-hidden="true"></i> 
                          Login with Facebook
                        </button> -->

              <!--  <button type="button" class="btn btn-block" (click)="signInWithGithub()">
                          <i class="fa fa-github" aria-hidden="true"></i>
                          Login with Github
                        </button>

                        <button type="button" class="btn btn-block" (click)="signInWithGoogle()">
                          <i class="fa fa-google" aria-hidden="true"></i>
                          Login with Google
                        </button> -->
            </div>
          </form>

        </div>
      </div>
    </div>
  </div> <!-- end card -->

</div> <!-- end container -->