<div class="col-md-11" id="poboxdtlsContainer" style="padding: 0;">
    <!-- PO Box Details Form -->
    <form name="poboxform" method="">
        <div class="fieldset mb-4"></div>
        <div class="fieldset">
            <div class="col-md-2"
                style="margin:0; padding-top:0; padding-bottom:0; ">
                <img [src]="opportunityDetails.organizationURL" class="img-thumbnail" style="width: 100%;">
            </div>
            <div class="col-md-10" style="margin:0; padding: 0;">
                <div class="fieldset">
                    <div class="col-md-12" style="margin:0; padding: 0; margin-bottom: 1rem;">
                        <label class="col-form-label oppurName">{{ opportunity.opportunityName }}</label>
                    </div>
                </div>
                <div class="fieldset mb-4">
                    <div class="col-md-7" style="margin:0; padding: 0;">
                        <div class="fieldset">
                            <div class="col-md-12" style="margin:0; padding: 0;">
                                <label class="col-form-label orgName">{{ opportunity.organizationName }}</label>
                            </div>
                        </div>
                        <div class="fieldset">
                            <div class="col-md-12" *ngIf="opportunity.organizationAddress"
                                style="margin:0; padding: 0;">
                                <img src="assets/location.png" class="img-thumbnail locimg">
                                <label class="col-form-label loclbl">{{ opportunity.organizationAddress }}</label>
                            </div>
                        </div>
                        <div class="fieldset">
                            <div class="col-md-12" style="margin:0; padding: 0;">
                                <label class="col-form-label posted">{{ opportunity.whenPosted }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5" style="margin:0; padding: 0;">
                        <div class="fieldset" style="justify-content:space-evenly">
                            <button class="btn btn-outline-info" [disabled]='opportunity.isSaved' type="button"
                                (click)="saveOppurtunity()">
                                <i class="far fa-bookmark"></i>
                                Save
                            </button>
                            <button class="btn btn-info" [disabled]=true type="submit" style="margin-left: 0rem;">Apply
                                Now</button>
                        </div>
                    </div>
                </div>
                <div class="fieldset mb-4">
                    <div class="col-md-12" style="margin:0; padding: 0;">
                        <div class="form-group fieldset">
                            <label class="col-form-label roledtl">Role Details</label>
                        </div>
                        <div class="form-group fieldset">
                            <label class="col-form-label typeofoppurlbl">Type of Professional
                                Opportunity</label>
                        </div>
                        <div class="form-group fieldset">
                            <label class="col-form-label typeofoppur"> -
                                {{ opportunityDetails.typeofProfOppurtunity }}</label>
                        </div>
                        <div class="form-group fieldset">
                            <label class="col-form-label typeofoppurlbl">Length & Hours</label>
                        </div>
                        <div class="form-group fieldset">
                            <label class="col-form-label typeofoppur">
                                <span> - {{ opportunityDetails.workLength }}</span> <br>
                                <span> - {{ opportunityDetails.workHours }}</span>
                            </label>
                        </div>
                        <div class="form-group fieldset">
                            <label class="col-form-label typeofoppurlbl">Recommendations</label>
                        </div>
                        <div class="form-group fieldset">
                            <label class="col-form-label typeofoppur"> -
                                {{ opportunityDetails.recommendations }}</label>
                        </div>
                        <div class="form-group fieldset">
                            <label class="col-form-label typeofoppurlbl">School Attendance</label>
                        </div>
                        <div class="form-group fieldset">
                            <label class="col-form-label typeofoppur"> -
                                {{ opportunityDetails.schoolAttendance }}</label>
                        </div>
                        <div class="form-group fieldset">
                            <label class="col-form-label typeofoppurlbl">GPA</label>
                        </div>
                        <div class="form-group fieldset">
                            <label class="col-form-label typeofoppur"> - {{ opportunityDetails.gpaScore }}</label>
                        </div>
                    </div>
                </div>
                <div class="fieldset mb-4">
                    <div class="col-md-12" style="margin:0; padding: 0;">
                        <div class="form-group fieldset">
                            <label class="col-form-label typeofoppurlbl">Description</label>
                        </div>
                        <div class="form-group fieldset">
                            <label class="col-form-label typeofoppur">
                                <span>{{ opportunityDetails.oppurtunityLongDescription }}</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="fieldset mb-4">
                    <div class="col-md-12" style="margin:0; padding: 0;">
                        <div class="form-group fieldset">
                            <label class="col-form-label typeofoppurlbl">Basic Qualifications:</label>
                        </div>
                        <div class="form-group fieldset">
                            <div class="col-md-12" *ngFor="let qualificationDetails of opportunityDetails.qualificationDetails">
                                <span class='qualDtls'> - {{ qualificationDetails }}</span>
                             <br/>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>