<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Start Bootstrap </div>
        <div class="list-group list-group-flush">
            <a href="/portfolio/myprofile" class="list-group-item list-group-item-action bg-light">My Profile</a>
            <a href="/portfolio/careerchecklist" class="list-group-item list-group-item-action bg-light">Carrer
                Checklist</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">P.O. Box</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Saved Opportunities</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>