<div class="container-fluid" id="wrapper">
    <div class="row">
        <!-- Sidebar -->
        <!-- <div class="col-md-half" id="leftmargindiv2" style="background-color: hotpink;"></div> -->
        <div class="col" id="sidebar-wrapper">
            <div class="list-group list-group-flush">
                <a routerLink="/portfolio/myprofile" class="list-group-item list-group-item-action bg-light">My
                    Profile</a>
                <a routerLink="/portfolio/pobox" class="list-group-item list-group-item-action bg-light">P.O. Box</a>
                <a routerLink="/portfolio/savedoppurtunity"
                    class="list-group-item list-group-item-action bg-light">Saved
                    Opportunities</a>
            </div>
            <!-- <label class="col-form-label">Career Points 10</label> -->
        </div>
        <div class="col" id="page-content-wrapper">
            <router-outlet></router-outlet>
        </div>
        <!-- </div> -->
        <!-- #sidebar-wrapper -->
        <div class="col-md-3" id="points-content-wrapper">
            <div class="col" style="margin-left: 0rem; margin-top: 4rem;" id="pointswrapper">
                <div class="container-fluid m-0 p-0" style="justify-content: center;">
                    <form name="pointsform" method="">
                        <!-- Carrer Points -->
                        <div class="form-group row m-0" style="justify-content: center;">
                            <div class="col-auto m-0 p-0" style="justify-content:center;">
                                <div class="row m-0 p-0" style="justify-content:center;">
                                    <label class="col-form-label lblcarpts">Career Points</label>
                                </div>
                                <div class="row" style="justify-content:center;">
                                    <div class="col-auto" id="Total_Points">
                                        <div class="row m-0" style="justify-content:center;">
                                            <label class="col-form-label lblcurrpts"> {{ currentPTS }} </label>
                                        </div>
                                        <div class="row m-0" id="Label_Margin" style="justify-content:center;">
                                            <label class="col-form-label lblyourpts">Your points</label>
                                        </div>
                                    </div>
                                    <!-- Vertical Line -->
                                    <div class="col-auto" id="lineVertical">
                                    </div>

                                    <!-- <div class="col-auto mr-0"></div> -->

                                    <div class="col-auto" id="Your_Goal">
                                        <div class="row m-0" style="justify-content:center;">
                                            <label class="col-form-label goalpts">20</label>
                                        </div>
                                        <div class="row m-0" id="Label_Margin" style="justify-content:center;">
                                            <label class="col-form-label lblyourgoal">Your Goal</label>
                                        </div>
                                    </div>
                                    <div class="col-auto mr-n4"></div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="container-fluid pointsSysSpacer">

                </div>
                <!-- <div class="container-fluid"> -->
                <div class="container-fluid justify-content-center align-items-center" id="pointSystem" *ngIf="showPtsSystem">
                    <div class="form-group row mb-2">
                        <div class="col-md-12  mt-2" style="text-align: center;">
                            <label class="col-form-label pb-0 " id="lblptssys">Point System</label>
                        </div>
                    </div>
                    <div class="d-flex mb-1">
                        <div class="m-0 mr-auto p-0 lblroleName1">Intership Exp</div>
                        <div class="p-0 lblrolepts1">10 pts</div>
                    </div>
                    <div class="d-flex mb-1">
                        <div class="m-0 mr-auto p-0 lblroleName1">Volunteering Exp</div>
                        <div class="p-0 lblrolepts1">7 pts</div>
                    </div>
                    <div class="d-flex mb-1">
                        <div class="m-0 mr-auto p-0 lblroleName1">Student Org.
                            Involvement</div>
                        <div class="p-0 lblrolepts1">4 pts</div>
                    </div>
                    <div class="d-flex mb-1">
                        <div class="m-0 mr-auto p-0 lblroleName1">Calls with
                            Professionals</div>
                        <div class="p-0 lblrolepts1">4 pts</div>
                    </div>
                    <div class="d-flex mb-1">
                        <div class="m-0 mr-auto p-0 lblroleName1">Career Research</div>
                        <div class="p-0 lblrolepts1">3 pts</div>
                    </div>
                </div>
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>