@import "~bootstrap/dist/css/bootstrap.css";
#savedOppurContainer {
    /* margin-top: 0rem; */
}

#explore {
    margin: 0;
    margin-top: 3.25rem;
    padding: 0;
    box-sizing: border-box;
    border: none;
    overflow: visible;
    white-space: nowrap;
    text-align: center;
    font-family: proxima-nova;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(2, 11, 62, 1);
}

.blnkspacing {
    margin-top: 2.25rem;
}

#welcome {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    overflow: visible;
    white-space: nowrap;
    margin-top: -3.5px;
    text-align: center;
    font-family: proxima-nova;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(2, 11, 62, 1);
}

.zeroDiv {
    margin: 0;
    padding: 0;
}

#oppheader {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    overflow: visible;
    white-space: nowrap;
    text-align: left;
    font-family: proxima-nova;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: rgba(13, 144, 168, 1);
}

.orgName {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    border: none;
    overflow: visible;
    white-space: nowrap;
    text-align: left;
    justify-content: left;
    font-family: proxima-nova;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: rgba(2, 11, 62, 1);
}

.lbloppurType {
    margin: 0;
    margin-left: 3px;
    padding: 0;
    box-sizing: border-box;
    border: none;
    overflow: visible;
    white-space: nowrap;
    text-align: left;
    font-family: proxima-nova;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: rgba(155,155,155,1);
}

.oppDesc {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    overflow: hidden;
    text-align: left;
    font-family: proxima-nova;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(2, 11, 62, 1);
}

.posted {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    overflow: visible;
    white-space: nowrap;
    text-align: left;
    font-family: proxima-nova;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(155, 155, 155, 1);
}