<div class="container-fluid justify-content-center align-items-center" id="poboxContainer">
    <!-- Profile Form -->
    <form name="poboxform" method="">
        <!-- Explore Header -->
        <div class="form-group row mb-0 align-items-center">
            <div class="col-md-12" id="explore">
                <label class="col-form-label">Explore you P.O. Box!</label>
            </div>
        </div>
        <!-- Welcome Header -->
        <div class="form-group row mb-0 align-items-center">
            <div class="col-12" id="welcome">
                <div class="justify-content-center">
                    <span>
                        Welcome to you Personal Opportunity box! This list of <br> opportunities is made just for
                        you. You can also click
                        <i class="fas fa-plus" id="plusIcon"></i>
                        <!-- <svg id="Union_1_A34_BooleanGroup_46" class="Union_1_A34_BooleanGroup_46"
                            viewBox="-3068 -5618.001 23.519 23.521">
                            <path fill="rgba(240,136,115,1)" id="Union_1_A34_BooleanGroup_46"
                                d="M -3059.375732421875 -5594.48046875 L -3059.375732421875 -5603.1044921875 L -3067.999755859375 -5603.1044921875 L -3067.999755859375 -5609.3759765625 L -3059.375732421875 -5609.3759765625 L -3059.375732421875 -5618.0009765625 L -3053.103515625 -5618.0009765625 L -3053.103515625 -5609.3759765625 L -3044.48046875 -5609.3759765625 L -3044.48046875 -5603.1044921875 L -3053.103515625 -5603.1044921875 L -3053.103515625 -5594.48046875 L -3059.375732421875 -5594.48046875 Z">
                            </path>
                        </svg> -->
                    </span>
                </div>
                <span>
                    to save an opportunity for later.
                </span>
            </div>
        </div>
        <!-- Specing -->
        <div class="form-group row mt-md-3"></div>
        <!-- List of opportunity -->
        <div class="mb-3" *ngFor="let opportunity of opportunities">
            <div class="form-group row mb-0">
                <div class="col-auto" id="oppheader">
                    <label class="col-form-label">{{ opportunity.opportunityName }}</label>
                    <button id="btneditsvd"><i class="fas fa-plus" id="plusIcon"></i></button>
                </div>
            </div>
            <div class="form-group row mb-0">
                <div class="col-auto" id="oppDesc">
                    <label class="col-form-label">{{ opportunity.opportunityShortDesc }}</label>
                </div>
            </div>
        </div>
    </form>
</div>