<div class="container-fluid justify-content-center align-items-center col-md-10" id="poboxContainer">
    <!-- <div class="container-fluid justify-content-center align-items-center" id="poboxContainer"> -->
    <!-- Profile Form -->
    <form name="poboxform" method="">
        <!-- Explore Header -->
        <div class="form-group row mb-0 align-items-center">
            <div class="col-md-12" id="explore">
                <label class="col-form-label">Explore your P.O Box</label>
            </div>
        </div>
        <!-- Welcome Header -->
        <div class="form-group row mb-0 align-items-center">
            <div class="col-12" id="welcome">
                <div class="justify-content-center">
                    <span>Welcome to your Personal Opportunity box! This list of opportunities is made just for you.
                    </span>
                </div>
            </div>
        </div>
        <!-- Specing -->
        <div class="form-group row blnkspacing"></div>
        <!-- List of opportunity -->
        <div class="container-fluid justify-content-center align-items-center col-md-10" id="poboxContainer">
            <div class="mb-3" *ngFor="let opportunity of opportunities">
                <div class="form-group row zeroDiv">
                    <div class="col-auto" id="oppheader">
                        <!-- <label class="col-form-label">{{ opportunity.opportunityName }}</label> -->
                        <a id="oppheader" [routerLink]="['poboxdtls', opportunity.id ]">{{ opportunity.opportunityName }}</a>
                        <button id="btneditsvd" [disabled]='opportunity.isSaved'
                            (click)="saveOppurtunity(opportunity)"><i class="fas fa-bookmark" id="plusIcon"
                                *ngIf='!opportunity.isSaved'></i></button>
                    </div>
                </div>
                <div class="form-group row zeroDiv">
                    <!-- <div class="col-auto" id="orgName"> -->
                    <!-- <label class="col-form-label">{{ opportunity.opportunityDetails.organizationName }}</label> -->
                    <label class="col-form-label zeroDiv orgName">{{ opportunity.organizationName }}</label>
                    <label class="col-form-label zeroDiv lbloppurType"> - {{ opportunity.typeofProfOppurtunity }}</label>
                    <!-- </div> -->
                </div>
                <div class="form-group row zeroDiv">
                    <!-- <div class="col-auto" id="oppDesc"> -->
                    <!-- <label class="col-form-label">{{ opportunity.opportunityShortDesc  }}</label> -->
                    <label class="col-form-label zeroDiv oppDesc">{{ opportunity.opportunityShortDesc  }}</label>
                    <!-- </div> -->
                </div>
                <div class="form-group row zeroDiv">
                    <!-- <div class="col-auto" id="oppDesc"> -->
                    <!-- <label class="col-form-label posted">{{ opportunity.opportunityDetails.whenPosted }}</label> -->
                    <label class="col-form-label zeroDiv posted">{{ opportunity.whenPosted }}</label>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </form>
</div>