<!-- <div class="row"> -->
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top nav-linkcol" id="mainNav" style="background-color:#0D90A8">
    <div class="container">
        <a class="navbar-brand brand" href="#" >Kempes</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-4 my-lg-0">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" [routerLink]="['home']">Home</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" [routerLink]="['aboutus']">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" [routerLink]="['services']">Support</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" [routerLink]="['portfolio/myprofile']"
                        *ngIf="authService.userDetails">My Profile
                        <!-- <i class="fas fa-bars"></i> -->
                    </a>
                </li>
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <!-- <a class="nav-link dropdown-toggle" [routerLink]="['home']" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
                        <i class="fas fa-bars"></i>
                        <!-- DropDown -->
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" [routerLink]="['/login', 1]" *ngIf="!authService.userDetails">Sign
                            up</a>
                        <a class="dropdown-item" [routerLink]="['/login', 2]" *ngIf="!authService.userDetails">Login</a>
                        <!-- <a class="dropdown-item" href="" (click)="logoutClicked()">Logout</a> -->
                        <a class="dropdown-item" (click)="logoutClicked()" *ngIf="authService.userDetails">Logout</a>
                    </div>
                </li>

            </ul>
        </div>
        
    </div>

</nav>
<!-- </div> -->