<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-2 nav-linkcol" id="mainNav" style="background-color:#0D90A8">
    <div class="container">
        <a class="navbar-brand brand ml-1" href="#">Kempes</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#services">Support</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#portfolio">My Profile</a>
                </li>
            </ul>
        </div>
    </div>
</nav>