<div class="container-fluid justify-content-center align-items-center" id="aboutusContainer">
    <form name="aboutform" method="">
        <!-- About Header -->
        <div class="form-group row mb-0 align-items-center">
            <div class="col-md-12" id="about">
                <label class="col-form-label">About</label>
            </div>
        </div>
        <!-- About Text -->
        <div class="form-group row mb-0 align-items-center">
            <div class="col-md-1" id="aboutText"></div>
            <div class="col-md-10" id="aboutText">
                <label class="col-form-label">
                    <span id="labelmargin">Kempes is an immersive platform that gives students the tools to find a
                        career that truly fits their interests and taps their potential. We’ve combined the highest
                        quality career-personality assessment with the largest database of resources to make personal,
                        intuitive job guidance accessible to every student.</span>
                </label>
            </div>
        </div>
        <!-- Problem -->
        <div class="form-group row mt-7 mb-0">
            <div class="col-md-6" id="problemHeader">
                <div>
                    <label class="col-form-label">
                        <span>The Problem</span>
                    </label>
                </div>
                <div id="problemDesc">
                    <label class="col-form-label">
                        <span>High school students are faced with thousands of career options, yet more than 33% of them
                            will go on to college with an undecided major. 80% of workers in their 20s are unhappy with
                            their careers. We attribute both problems to not knowing all of the careers out there. Young
                            people entering the workforce are having difficulty finding a path that taps their
                            potential.</span>
                    </label>
                </div>
            </div>
            <div class="col-md-6" id="problemImage">
            </div>
        </div>
        <!-- The Solution -->
        <div class="form-group row">
            <div class="col-md-6" id="solutionImage">
            </div>
            <div class="col-md-6" id="solutionHeader">
                <div>
                    <label class="col-form-label">
                        <span>The Solution</span>
                    </label>
                </div>
                <div id="solutionDesc">
                    <label class="col-form-label">
                        <span>We decided to put all the career planning power we could muster into one application. With
                            our Kempes students can:
                            <br><br>
                            Learn which careers fit their personal drivers
                            <br>
                            Discover relevant jobs and industry trends
                            <br>
                            Build a roadmap and connect with key mentors</span>
                    </label>
                </div>
            </div>
        </div>
        <!-- We do love to hear -->
        <div class="form-group row mt-7 align-items-center">
            <div class="col-md-2" id="wedolove"></div>
            <div class="col-md-8" id="wedolove">
                <label class="col-form-label">
                    <span>
                        We’d love to hear more about your career planning experiences. If you’re interested in helping
                        us to better tailor our services to you, take our survey!
                    </span>
                </label>
            </div>
            <div class="col-md-2" id="wedolove"></div>
        </div>
        <div class="form-group row mt-1 align-items-center">
            <div class="col-md-3" id="wedolove"></div>
            <div class="col-md-3" id="wedolove">
                <button type="button" class="btn btn-info btn-lg">Students</button>
            </div>
            <div class="col-md-3" id="wedolove">
                <button type="button" class="btn btn-info btn-lg">Teachers</button>
            </div>
            <div class="col-md-3" id="wedolove"></div>
        </div>
    </form>
</div>