/* background
r-44;g-52;b-94
Hue-154;sat-87;lum-65;

button color;
r-13;g-144;b-168
Hue-126;sat-206;lum-85; */

@import "~bootstrap/dist/css/bootstrap.css";
.body {
    height: 100vh;
    /* background-color:rgb(44, 52, 94); */
}

.offset-sm-12 {
    margin-left: 7.5%;
}

.signupbg {
    padding-top: 3rem;
    padding-bottom: 50rem;
    position: relative;
    height: 100%;
    /* background-color:rgb(44, 52, 94); */
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}

#Welcome_to_Kempes__Log_in_to_k {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    overflow: visible;
    white-space: nowrap;
    text-align: left;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: rgba(2, 11, 62, 1);
}

#Welcome_to_Kempes__Log_in_to_k1 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    overflow: visible;
    white-space: nowrap;
    text-align: center;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(118, 118, 118, 1);
}

label {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    overflow: visible;
    white-space: nowrap;
    text-align: left;
    font-family: proxima-nova;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(2, 11, 62, 1);
}

.btnsubmit {
    margin: 0;
    margin-bottom: 0rem;
    /* padding: 0; */
    box-sizing: border-box;
    border: none;
    width: 170px;
    overflow: visible;
    background-color: rgba(13, 144, 168, 1);
    color: rgba(255, 255, 255, 1);
    font-family: proxima-nova;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.btnsubmit:hover {
    background-color: rgb(9, 111, 129);
    color: rgba(255, 255, 255, 1);
}

.col-form-label-lg {
    color: white;
    text-align: right
}

.navbar-text {
    color: #fff;
}

/* input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 1.2em;
}

input[type="date"]:focus:before, input[type="date"]:valid::before {
    content: "";
} */

/* input[type="date"]::before { 
    content: attr(placeholder) !important;
    width: 100%;
} */

/* hide our custom/fake placeholder text when in focus to show the default
 * 'mm/dd/yyyy' value and when valid to show the users' date of birth value.
 */

/* input[type="date"]:focus::before,
input[type="date"]:valid::before { display: none } */