@import "~bootstrap/dist/css/bootstrap.css";
.body {
    height: 100vh;
    /* background-color:rgb(44, 52, 94); */
}

.offset-sm-12 {
    margin-left: 7.5%;
}

.interestbg {
    padding-top: 3rem;
    padding-bottom: 5rem;
    position: relative;
    height: 100%;
    /* background-color:rgb(44, 52, 94); */
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}

.card {
    margin: 0 auto;
    /* Added */
    float: none;
    /* Added */
    margin-bottom: 10px;
    /* Added */
}

.h3 {
    font-family: proxima-nova;
    font-size: 60px;
    color: rgba(2, 11, 62, 1);
    text-align: center;
}

.h7 {
    margin-top: -20px;
    margin-bottom: 20px;
    font-family: proxima-nova;
    font-size: 24px;
    color: rgba(2, 11, 62, 1);
    text-align: center;
}

.h8 {
    font-size: .85rem;
    color: black;
    margin-top: -40px;
    margin-bottom: 20px;
}

.questionLabel {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    overflow: visible;
    white-space: nowrap;
    text-align: center;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(2, 11, 62, 1);
}

.circle {
    height: 350px;
    width: 350px;
    color: #fff;
    background-color: #0D90A8;
    border-radius: 100%;
}

.badge-pill {
    color: #fff;
    background-color: #0D90A8;
    /* padding: 0.5em 0.5em; */
    border-radius: 100%;
}

#Welcome_to_Kempes__Log_in_to_k {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    overflow: visible;
    white-space: nowrap;
    text-align: left;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: rgba(2, 11, 62, 1);
}

#Welcome_to_Kempes__Log_in_to_k1 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    overflow: visible;
    white-space: nowrap;
    text-align: center;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(118, 118, 118, 1);
}

.btnsubmit {
    margin: 0;
    margin-bottom: 0rem;
    /* padding: 0; */
    box-sizing: border-box;
    border: none;
    width: 170px;
    overflow: visible;
    background-color: rgba(13, 144, 168, 1);
    color: rgba(255, 255, 255, 1);
    font-family: proxima-nova;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.btnsubmit:hover {
    background-color: rgb(9, 111, 129);
    color: rgba(255, 255, 255, 1);
}