<div class="interestbg">
    <div class="container justify-content-center">
        <div class="row">
            <div class="col-md-12 mb-5">
                <div class="d-flex flex-row justify-content-center" id="Welcome_to_Kempes__Log_in_to_k">
                    <span>Almost there!</span>
                </div>
                <div class="d-flex flex-row justify-content-center" id="Welcome_to_Kempes__Log_in_to_k1">
                    <span>We have a few questions to ask you so that we provide our best recommendations for you</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row justify-content-center">
                    <form (ngSubmit)="onSubmit()" #interestForm="ngForm">
                        <div class="col mb-4 justify-content-center" *ngFor="let interestOption of interests.interestOptions; let i = index;">
                            <div class="form-group row justify-content-center">
                                <div class="col-auto">
                                    <div class="row">
                                    <span class="badge badge-pill mt-2 mr-2">{{interestOption.displayOrder}}</span>
                                    <label class="questionLabel mt-2"
                                        name="questionLabel + i">{{interestOption.interestQuestion}}</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <select class="form-control ml-2 float-left" data-style="btn-primary"
                                        data-live-search="true" data-selectpicker
                                        [(ngModel)]="interestOption.selectedOptions" name="oppurOptions + i">
                                        <option *ngFor="let answers of interestOption.answerOptions"
                                            [ngValue]="answers.answerName">
                                            {{ answers.answerName }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" align="center">
                            <button type="submit" class="btn btn-primary btnsubmit">
                                Complete Sign Up
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>