<div class="container-fluid justify-content-center align-items-center" id="carchecklstContainer">
    <!-- Profile Form -->
    <form name="carchecklstform" method="">
        <!-- Explore Header -->
        <div class="form-group row mb-0 align-items-center">
            <div class="col-md-12" id="yourcareer">
                <label class="col-form-label">Your Career Journey Checklist</label>
            </div>
        </div>
        <!-- You have Header -->
        <div class="form-group row mb-0 align-items-center">
            <div class="col-md-12" id="youhavecarpts">
                    <span>You have </span>
                    <span style="font-style:normal;font-weight:bold;color:rgba(13,144,168,1);">3 Career Points</span>
                    <span>! <br></span>
                    <span id="labelmargin">Keep it up to meet <br></span>
                    <span id="labelmargin">
                        <span style="font-style:normal;font-weight:bold;">your goal of 10 Career Points</span>
                        <span> this month</span>
                        <span style="font-style:normal;font-weight:bold;">.</span>
                    </span>
            </div>
        </div>
    </form>
</div>