<div class="container-fluid justify-content-center align-items-center" id="carchecklstContainer">
    <!-- Checklist Form -->
    <form (ngSubmit)="onSubmit()" #CheckListForm="ngForm">
        <!-- Explore Header -->
        <div class="form-group row mb-0 align-items-center">
            <div class="col-md-12" id="yourcareer">
                <label class="col-form-label">Your Career Journey Checklist</label>
            </div>
        </div>
        <!-- You have Header -->
        <div class="form-group row mb-5 align-items-center">
            <div class="col-md-12" id="youhavecarpts">
                <span>You have </span>
                <span style="font-style:normal;font-weight:bold;color:rgba(13,144,168,1);">{{ careerGoals.currentPoints }} Career Points</span>
                <span>! <br></span>
                <span id="labelmargin">Keep it up to meet <br></span>
                <span id="labelmargin">
                    <span style="font-style:normal;font-weight:bold;">your goal of 20 Career Points</span>
                    <span> this month</span>
                    <span style="font-style:normal;font-weight:bold;">.</span>
                </span>
            </div>
        </div>

        <div class="mb-4" *ngFor="let careerCheckList of careerGoals.careerCheckList let x = index;">
            <div class="form-group row">
                <div class="col-sm-5">
                    <div class="row labeldiv">
                        <label class="getting_started" for="gettingstarted">
                            <span>{{ careerCheckList.checkListTitle }}</span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="mb-2"
                        *ngFor="let careerCheckListItems of careerCheckList.careerCheckListItems; let i = index;">
                        <!-- <input class="checkbox" type="checkbox" [checked]= "careerCheckListItems.isSelected" [(ngModel)]="careerCheckListItems.isSelected" name="checkItem + i" id="checkItem + i"> -->
                        <!-- <input class="checkbox" type="checkbox"  [checked]="careerCheckListItems.isSelected" (change)="careerCheckListItems.isSelected = !careerCheckListItems.isSelected" name="checkItem + i" id="checkItem + i"> -->
                        <input class="checkbox" type="checkbox"  [checked]="careerCheckListItems.isSelected" (change)="changeCheckbox(x, i)" name="checkItem + i" id="checkItem + i">
                        <label class="checkItems" for="checkItem + i">
                            <span>{{ careerCheckListItems.checkListItemTitle}}</span>
                            <span style="font-style:italic;font-weight:normal;font-size:20px;">
                                (+{{ careerCheckListItems.points}} pt)</span>
                        </label>
                    </div>
                </div>
            </div>
            <div id="hr">
                </div>
        </div>
        <div class="form-group row">
                <div class="col-md-8">
                    <button class="btn btn-outline-secondary float-right" type="submit" id="Save_experience">Apply to lottery</button>
                </div>
            </div>
    </form>
</div>